<p>This component implements <a href="https://github.com/elwayman02/ember-interactivity/blob/master/README.md#components" target="_blank">default interactivity</a> by
scheduling an "afterRender" callback in "didInsertElement".</p>