<p>This component implements <a href="https://github.com/elwayman02/ember-interactivity/blob/master/README.md#isinteractive" target="_blank">interactivity via its child components</a>:</p>

{{default-interactivity}}

{{delayed-interactivity}}

<p>An <a href="https://github.com/elwayman02/ember-interactivity/blob/master/README.md#beacons" target="_blank">interactivity beacon</a> is rendered after this text block.</p>

{{interactivity-beacon beaconId='myBeacon'}}