<p>This component implements interactivity via its child components:</p>

{{default-interactivity}}

{{delayed-interactivity}}

<p>An interactivity beacon is rendered after this text block.</p>

{{interactivity-beacon beaconId='myBeacon'}}