.description p {
  padding-bottom: 5px;
}

.version {
  padding-bottom: 0;
}

.badges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 550px;
}

.screenshot {
  width: 100%;
}
