<p class="description">This addon provides latency instrumentation for Ember applications!</p>

<span class="badges">
  <span class="badgeInner">
    <a href="https://travis-ci.org/elwayman02/ember-interactivity" target="_blank">
      <img src="https://travis-ci.org/elwayman02/ember-interactivity.svg?branch=master" />
    </a>
    <a href="https://emberobserver.com/addons/ember-interactivity" target="_blank">
      <img src="https://emberobserver.com/badges/ember-interactivity.svg" />
    </a>
    <a href="https://codeclimate.com/github/elwayman02/ember-interactivity" target="_blank">
      <img src="https://codeclimate.com/github/elwayman02/ember-interactivity/badges/gpa.svg" />
    </a>
    <a href="https://greenkeeper.io/" target="_blank">
      <img src="https://badges.greenkeeper.io/elwayman02/ember-interactivity.svg" />
    </a>
  </span>
</span>

<p>This demo is running version {{app-version}}</p>

<p>
  Try
  <a href="https://developers.google.com/web/tools/chrome-devtools/evaluate-performance/reference" target="_blank">
    Performance Profiling
  </a>
  in Chrome DevTools to see the route & components below show up under "User Timings"!
</p>

<p>
  See the full documentation <a href="https://github.com/elwayman02/ember-interactivity/blob/master/README.md" target="_blank">here</a>.
</p>

<hr>

{{parent-interactivity}}